In [1]:
import pandas as pd
import numpy as np

schools_data = pd.read_csv('../shared_data_read_only/Education-Data/2023-2024 Master School List (20231003).csv')
schools_data.head()

enroll_data = pd.read_csv('../shared_data_read_only/Education-Data/2023-2024 Enrollment & Demographics.csv')

mat_data = pd.read_csv('../shared_data_read_only/Education-Data/SDP_College_Matriculation_2021-2022.csv')

grad_data = pd.read_csv('../shared_data_read_only/Education-Data/SDP_Graduation_Rates_School_S_2023-02-15.csv')

attendance_data = pd.read_csv('../shared_data_read_only/Education-Data/Student_ADA_Yearly.csv')
attendance_data.head()

,School Year,Sector,ULCS Code,School Name,Average Daily Attendance (YTD)
0,2022-2023,District,1010,John Bartram High School,77.27
1,2022-2023,District,1020,West Philadelphia High School,80.34
2,2022-2023,District,1030,High School of the Future,84.49
3,2022-2023,District,1050,Paul Robeson High School for Human Services,91.50
4,2022-2023,District,1100,William L. Sayre High School,82.52

In [2]:
final_zips = [19132, 19121, 19134, 19133, 19124]

new_df = pd.DataFrame()

for zips in final_zips:
    zip_df = schools_data.loc[schools_data['Zip Code'] == zips]
    zip_df = zip_df.loc[zip_df['Grade 9'] == 1]

    zip_schools = zip_df['ULCS Code'].to_numpy()
    
    enroll_data_t = enroll_data.loc[enroll_data['ulcscode'].isin(zip_schools)]
    enroll_data_t = enroll_data_t.loc[enroll_data_t['GradeLevel'].str.contains('All Grades')]
    
    enroll_data_t = enroll_data_t[["Sector", 'ulcscode', "SchoolName", "StudentEnrollment", "BlackAfricanAmericanPCT", "CEPEconomicallyDisadvantagedRate"]]

    enroll_data_t.loc[len(enroll_data_t.index)] = ['N/A', 'N/A', 'Average', enroll_data_t['StudentEnrollment'].mean(), enroll_data_t['BlackAfricanAmericanPCT'].mean(), enroll_data_t['CEPEconomicallyDisadvantagedRate'].mean()]
    enroll_data_t.loc[len(enroll_data_t.index)] = ['N/A', 'N/A', 'Median', enroll_data_t['StudentEnrollment'].median(), enroll_data_t['BlackAfricanAmericanPCT'].median(), enroll_data_t['CEPEconomicallyDisadvantagedRate'].median()]
    enroll_data_t.insert(1, "Zip Code", [zips] * len(enroll_data_t), True)
    
    enroll_data_t.round(2)
    new_df = pd.concat([new_df, enroll_data_t], ignore_index=True)

display(new_df)

,Sector,Zip Code,ulcscode,SchoolName,StudentEnrollment,BlackAfricanAmericanPCT,CEPEconomicallyDisadvantagedRate
0,Charter,19132,3441,TECH Freire Charter School,494.000000,93.5200,NaN
1,District,19132,4060,Murrell Dobbins Career and Technical High School,774.000000,89.4100,100.000
2,Alternative,19132,8450,YESPhilly,126.000000,91.2700,100.000
3,N/A,19132,N/A,Average,464.666667,91.4000,100.000
4,N/A,19132,N/A,Median,479.333333,91.3350,100.000
5,Alternative,19121,2310,Achieve Academy,50.000000,92.0000,100.000
6,Alternative,19121,3510,El Centro de Estudiantes (Big Picture),100.000000,52.0000,1.600
7,District,19121,4030,High School of Engineering and Science,843.000000,58.9600,92.430
8,District,19121,4140,Strawberry Mansion High School,249.000000,92.3700,100.000
9,District,19121,5180,Vaux High School: A Big Picture,305.000000,89.5100,1.050
10,Alternative,19121,8080,Excel Academy North,208.000000,91.8300,100.000
11,Alternative,19121,8860,One Bright Ray Mansion,105.000000,87.6200,100.000
12,Alternative,19121,8870,One Bright Ray Mansion Evening,79.000000,88.6100,0.000
13,N/A,19121,N/A,Average,242.375000,81.6125,61.885
14,N/A,19121,N/A,Median,208.000000,88.6100,92.430
15,District,19134,5060,Jules E. Mastbaum Area Vocational Technical Hi...,591.000000,43.1500,100.000
16,N/A,19134,N/A,Average,591.000000,43.1500,100.000
17,N/A,19134,N/A,Median,591.000000,43.1500,100.000
18,Alternative,19133,8190,One Bright Ray - Fairhill Campus,261.000000,41.3800,0.610
19,N/A,19133,N/A,Average,261.000000,41.3800,0.610
20,N/A,19133,N/A,Median,261.000000,41.3800,0.610
21,Alternative,19124,3290,Excel Academy South,207.000000,48.3100,100.000
22,Charter,19124,3301,Community Academy of Philadelphia Charter School,1246.000000,9.9500,NaN
23,Charter,19124,3332,Mariana Bracetti Academy Charter School,1509.000000,21.1400,NaN
24,Charter,19124,3364,First Philadelphia Preparatory Charter School,1857.000000,47.2300,NaN
25,District,19124,7010,Frankford High School,861.000000,40.3000,100.000
26,District,19124,7120,Samuel Fels High School,1238.000000,38.3700,100.000
27,Alternative,19124,8890,One Bright Ray - Simpson Campus,267.000000,38.2000,0.000
28,Alternative,19124,8891,One Bright Ray Simpson - Evening,131.000000,40.4600,0.000
29,N/A,19124,N/A,Average,914.500000,35.4950,60.000
30,N/A,19124,N/A,Median,914.500000,38.3700,80.000

In [3]:
new_df.insert(6, 'Matriculation Rate', [np.NaN] * len(new_df))

for i in range(len(new_df)):
    school = new_df.iloc[i, 2]
    if school == 'N/A': continue
    mat_df = mat_data.loc[mat_data['ULCS Code'] == school]
    if mat_df.empty: continue
    new_df.at[i, 'Matriculation Rate'] = mat_df.iloc[0, 4]
    
display(new_df)

,Sector,Zip Code,ulcscode,SchoolName,StudentEnrollment,BlackAfricanAmericanPCT,Matriculation Rate,CEPEconomicallyDisadvantagedRate
0,Charter,19132,3441,TECH Freire Charter School,494.000000,93.5200,NaN,NaN
1,District,19132,4060,Murrell Dobbins Career and Technical High School,774.000000,89.4100,25.95,100.000
2,Alternative,19132,8450,YESPhilly,126.000000,91.2700,NaN,100.000
3,N/A,19132,N/A,Average,464.666667,91.4000,NaN,100.000
4,N/A,19132,N/A,Median,479.333333,91.3350,NaN,100.000
5,Alternative,19121,2310,Achieve Academy,50.000000,92.0000,NaN,100.000
6,Alternative,19121,3510,El Centro de Estudiantes (Big Picture),100.000000,52.0000,NaN,1.600
7,District,19121,4030,High School of Engineering and Science,843.000000,58.9600,78.79,92.430
8,District,19121,4140,Strawberry Mansion High School,249.000000,92.3700,0.00,100.000
9,District,19121,5180,Vaux High School: A Big Picture,305.000000,89.5100,36.17,1.050
10,Alternative,19121,8080,Excel Academy North,208.000000,91.8300,NaN,100.000
11,Alternative,19121,8860,One Bright Ray Mansion,105.000000,87.6200,NaN,100.000
12,Alternative,19121,8870,One Bright Ray Mansion Evening,79.000000,88.6100,NaN,0.000
13,N/A,19121,N/A,Average,242.375000,81.6125,NaN,61.885
14,N/A,19121,N/A,Median,208.000000,88.6100,NaN,92.430
15,District,19134,5060,Jules E. Mastbaum Area Vocational Technical Hi...,591.000000,43.1500,20.25,100.000
16,N/A,19134,N/A,Average,591.000000,43.1500,NaN,100.000
17,N/A,19134,N/A,Median,591.000000,43.1500,NaN,100.000
18,Alternative,19133,8190,One Bright Ray - Fairhill Campus,261.000000,41.3800,NaN,0.610
19,N/A,19133,N/A,Average,261.000000,41.3800,NaN,0.610
20,N/A,19133,N/A,Median,261.000000,41.3800,NaN,0.610
21,Alternative,19124,3290,Excel Academy South,207.000000,48.3100,NaN,100.000
22,Charter,19124,3301,Community Academy of Philadelphia Charter School,1246.000000,9.9500,NaN,NaN
23,Charter,19124,3332,Mariana Bracetti Academy Charter School,1509.000000,21.1400,NaN,NaN
24,Charter,19124,3364,First Philadelphia Preparatory Charter School,1857.000000,47.2300,NaN,NaN
25,District,19124,7010,Frankford High School,861.000000,40.3000,21.85,100.000
26,District,19124,7120,Samuel Fels High School,1238.000000,38.3700,27.71,100.000
27,Alternative,19124,8890,One Bright Ray - Simpson Campus,267.000000,38.2000,NaN,0.000
28,Alternative,19124,8891,One Bright Ray Simpson - Evening,131.000000,40.4600,NaN,0.000
29,N/A,19124,N/A,Average,914.500000,35.4950,NaN,60.000
30,N/A,19124,N/A,Median,914.500000,38.3700,NaN,80.000

In [4]:
final_schools = []

for i in range(len(new_df)):
    school = new_df.iloc[i, 2]
    if school == 'N/A': continue
    final_schools.append(school)

grad_df = grad_data.loc[grad_data['schoolid_ulcs'].isin(final_schools)]
grad_df = grad_df.loc[grad_df['rate_type'] == '4-Year Graduation Rate']
focus_rows = ['All Students', 'Economically Disadvantaged', 'Black/African American']
grad_df = grad_df.loc[grad_df['subgroup'].isin(focus_rows)]

grad_df

,cohort,schoolid_ulcs,schoolname,sector,rate_type,group,subgroup,denom,num,score
603,2010-2011,2310,Achieve Academy,Alternative,4-Year Graduation Rate,All Students,All Students,73,28,38.36
604,2010-2011,2310,Achieve Academy,Alternative,4-Year Graduation Rate,Economically Disadvantaged,Economically Disadvantaged,52,22,42.31
609,2010-2011,2310,Achieve Academy,Alternative,4-Year Graduation Rate,Ethnicity,Black/African American,65,26,40
1052,2010-2011,3290,Excel Academy South,Alternative,4-Year Graduation Rate,All Students,All Students,303,154,50.83
1053,2010-2011,3290,Excel Academy South,Alternative,4-Year Graduation Rate,Economically Disadvantaged,Economically Disadvantaged,228,112,49.12
...,...,...,...,...,...,...,...,...,...,...
26141,2018-2019,8890,One Bright Ray - Simpson Campus,Alternative,4-Year Graduation Rate,Economically Disadvantaged,Economically Disadvantaged,44,4,9.09
26145,2018-2019,8890,One Bright Ray - Simpson Campus,Alternative,4-Year Graduation Rate,Ethnicity,Black/African American,35,s,s
26152,2018-2019,8891,One Bright Ray Simpson - Evening,Alternative,4-Year Graduation Rate,All Students,All Students,21,s,s
26153,2018-2019,8891,One Bright Ray Simpson - Evening,Alternative,4-Year Graduation Rate,Economically Disadvantaged,Economically Disadvantaged,16,s,s
26156,2018-2019,8891,One Bright Ray Simpson - Evening,Alternative,4-Year Graduation Rate,Ethnicity,Black/African American,10,s,s

In [5]:
# new_df.insert(8, 'Grad Rate', [np.NaN] * len(new_df))
# new_df.insert(9, 'Grad Rate for Economically Disadvantaged Students', [np.NaN] * len(new_df))
# new_df.insert(10, 'Grad Rate for Black/African American Students', [np.NaN] * len(new_df))

for school in final_schools:
    temp_df = grad_df.loc[grad_df['schoolid_ulcs'] == school]
    
    all_df = temp_df.loc[temp_df['subgroup'] == 'All Students']
    all_df = all_df[all_df['score'] != 's']
    all_df['score'] = all_df['score'].astype(float)
    
    econ_df = temp_df.loc[temp_df['subgroup'] == 'Economically Disadvantaged']
    econ_df = econ_df[econ_df['score'] != 's']
    econ_df['score'] = econ_df['score'].astype(float)
    
    eth_df = temp_df.loc[temp_df['subgroup'] == 'Black/African American']
    eth_df = eth_df[eth_df['score'] != 's']
    eth_df['score'] = eth_df['score'].astype(float)
    
    row_index = new_df.index.get_loc(new_df[new_df['ulcscode'] == school].index[0])
    new_df.at[row_index, 'Grad Rate'] = all_df['score'].mean()
    new_df.at[row_index, 'Grad Rate for Economically Disadvantaged Students'] = econ_df['score'].mean()
    new_df.at[row_index, 'Grad Rate for Black/African American Students'] = eth_df['score'].mean()
    
display(new_df)

,Sector,Zip Code,ulcscode,SchoolName,StudentEnrollment,BlackAfricanAmericanPCT,Matriculation Rate,CEPEconomicallyDisadvantagedRate,Grad Rate,Grad Rate for Economically Disadvantaged Students,Grad Rate for Black/African American Students
0,Charter,19132,3441,TECH Freire Charter School,494.000000,93.5200,NaN,NaN,NaN,NaN,NaN
1,District,19132,4060,Murrell Dobbins Career and Technical High School,774.000000,89.4100,25.95,100.000,86.692222,87.472857,87.490000
2,Alternative,19132,8450,YESPhilly,126.000000,91.2700,NaN,100.000,20.732500,24.917500,23.331429
3,N/A,19132,N/A,Average,464.666667,91.4000,NaN,100.000,NaN,NaN,NaN
4,N/A,19132,N/A,Median,479.333333,91.3350,NaN,100.000,NaN,NaN,NaN
5,Alternative,19121,2310,Achieve Academy,50.000000,92.0000,NaN,100.000,44.345714,40.760000,48.415000
6,Alternative,19121,3510,El Centro de Estudiantes (Big Picture),100.000000,52.0000,NaN,1.600,21.747778,22.478889,21.942500
7,District,19121,4030,High School of Engineering and Science,843.000000,58.9600,78.79,92.430,97.477778,97.155556,98.055556
8,District,19121,4140,Strawberry Mansion High School,249.000000,92.3700,0.00,100.000,45.828750,40.313333,43.672000
9,District,19121,5180,Vaux High School: A Big Picture,305.000000,89.5100,36.17,1.050,85.250000,NaN,85.650000
10,Alternative,19121,8080,Excel Academy North,208.000000,91.8300,NaN,100.000,36.064444,40.905714,40.568571
11,Alternative,19121,8860,One Bright Ray Mansion,105.000000,87.6200,NaN,100.000,15.252500,15.090000,14.327500
12,Alternative,19121,8870,One Bright Ray Mansion Evening,79.000000,88.6100,NaN,0.000,40.100000,NaN,38.162500
13,N/A,19121,N/A,Average,242.375000,81.6125,NaN,61.885,NaN,NaN,NaN
14,N/A,19121,N/A,Median,208.000000,88.6100,NaN,92.430,NaN,NaN,NaN
15,District,19134,5060,Jules E. Mastbaum Area Vocational Technical Hi...,591.000000,43.1500,20.25,100.000,83.617778,83.396250,86.307778
16,N/A,19134,N/A,Average,591.000000,43.1500,NaN,100.000,NaN,NaN,NaN
17,N/A,19134,N/A,Median,591.000000,43.1500,NaN,100.000,NaN,NaN,NaN
18,Alternative,19133,8190,One Bright Ray - Fairhill Campus,261.000000,41.3800,NaN,0.610,36.971111,33.393333,37.277500
19,N/A,19133,N/A,Average,261.000000,41.3800,NaN,0.610,NaN,NaN,NaN
20,N/A,19133,N/A,Median,261.000000,41.3800,NaN,0.610,NaN,NaN,NaN
21,Alternative,19124,3290,Excel Academy South,207.000000,48.3100,NaN,100.000,37.110000,36.426667,38.794444
22,Charter,19124,3301,Community Academy of Philadelphia Charter School,1246.000000,9.9500,NaN,NaN,NaN,NaN,NaN
23,Charter,19124,3332,Mariana Bracetti Academy Charter School,1509.000000,21.1400,NaN,NaN,NaN,NaN,NaN
24,Charter,19124,3364,First Philadelphia Preparatory Charter School,1857.000000,47.2300,NaN,NaN,NaN,NaN,NaN
25,District,19124,7010,Frankford High School,861.000000,40.3000,21.85,100.000,56.646667,57.101111,59.858889
26,District,19124,7120,Samuel Fels High School,1238.000000,38.3700,27.71,100.000,69.825556,68.932222,73.937778
27,Alternative,19124,8890,One Bright Ray - Simpson Campus,267.000000,38.2000,NaN,0.000,20.357143,20.561667,26.320000
28,Alternative,19124,8891,One Bright Ray Simpson - Evening,131.000000,40.4600,NaN,0.000,NaN,NaN,NaN
29,N/A,19124,N/A,Average,914.500000,35.4950,NaN,60.000,NaN,NaN,NaN
30,N/A,19124,N/A,Median,914.500000,38.3700,NaN,80.000,NaN,NaN,NaN

In [12]:
attendance_df = attendance_data.loc[attendance_data['ULCS Code'].isin(final_schools)]
# new_df.insert(11, 'Attendance Rate', [np.NaN] * len(new_df))

for school in final_schools:
    temp_df = attendance_data.loc[attendance_data['ULCS Code'] == school]
    row_index = new_df.index.get_loc(new_df[new_df['ulcscode'] == school].index[0])
    new_df.at[row_index, 'Attendance Rate'] = temp_df['Average Daily Attendance (YTD)'].mean()
    
display(new_df)

,Sector,Zip Code,ulcscode,SchoolName,StudentEnrollment,BlackAfricanAmericanPCT,Matriculation Rate,CEPEconomicallyDisadvantagedRate,Grad Rate,Grad Rate for Economically Disadvantaged Students,Grad Rate for Black/African American Students,Attendance Rate
0,Charter,19132,3441,TECH Freire Charter School,494.000000,93.5200,NaN,NaN,NaN,NaN,NaN,NaN
1,District,19132,4060,Murrell Dobbins Career and Technical High School,774.000000,89.4100,25.95,100.000,86.692222,87.472857,87.490000,81.170000
2,Alternative,19132,8450,YESPhilly,126.000000,91.2700,NaN,100.000,20.732500,24.917500,23.331429,NaN
3,N/A,19132,N/A,Average,464.666667,91.4000,NaN,100.000,NaN,NaN,NaN,NaN
4,N/A,19132,N/A,Median,479.333333,91.3350,NaN,100.000,NaN,NaN,NaN,NaN
5,Alternative,19121,2310,Achieve Academy,50.000000,92.0000,NaN,100.000,44.345714,40.760000,48.415000,NaN
6,Alternative,19121,3510,El Centro de Estudiantes (Big Picture),100.000000,52.0000,NaN,1.600,21.747778,22.478889,21.942500,NaN
7,District,19121,4030,High School of Engineering and Science,843.000000,58.9600,78.79,92.430,97.477778,97.155556,98.055556,95.930000
8,District,19121,4140,Strawberry Mansion High School,249.000000,92.3700,0.00,100.000,45.828750,40.313333,43.672000,77.306667
9,District,19121,5180,Vaux High School: A Big Picture,305.000000,89.5100,36.17,1.050,85.250000,NaN,85.650000,83.320000
10,Alternative,19121,8080,Excel Academy North,208.000000,91.8300,NaN,100.000,36.064444,40.905714,40.568571,NaN
11,Alternative,19121,8860,One Bright Ray Mansion,105.000000,87.6200,NaN,100.000,15.252500,15.090000,14.327500,NaN
12,Alternative,19121,8870,One Bright Ray Mansion Evening,79.000000,88.6100,NaN,0.000,40.100000,NaN,38.162500,NaN
13,N/A,19121,N/A,Average,242.375000,81.6125,NaN,61.885,NaN,NaN,NaN,NaN
14,N/A,19121,N/A,Median,208.000000,88.6100,NaN,92.430,NaN,NaN,NaN,NaN
15,District,19134,5060,Jules E. Mastbaum Area Vocational Technical Hi...,591.000000,43.1500,20.25,100.000,83.617778,83.396250,86.307778,80.486667
16,N/A,19134,N/A,Average,591.000000,43.1500,NaN,100.000,NaN,NaN,NaN,NaN
17,N/A,19134,N/A,Median,591.000000,43.1500,NaN,100.000,NaN,NaN,NaN,NaN
18,Alternative,19133,8190,One Bright Ray - Fairhill Campus,261.000000,41.3800,NaN,0.610,36.971111,33.393333,37.277500,NaN
19,N/A,19133,N/A,Average,261.000000,41.3800,NaN,0.610,NaN,NaN,NaN,NaN
20,N/A,19133,N/A,Median,261.000000,41.3800,NaN,0.610,NaN,NaN,NaN,NaN
21,Alternative,19124,3290,Excel Academy South,207.000000,48.3100,NaN,100.000,37.110000,36.426667,38.794444,NaN
22,Charter,19124,3301,Community Academy of Philadelphia Charter School,1246.000000,9.9500,NaN,NaN,NaN,NaN,NaN,NaN
23,Charter,19124,3332,Mariana Bracetti Academy Charter School,1509.000000,21.1400,NaN,NaN,NaN,NaN,NaN,NaN
24,Charter,19124,3364,First Philadelphia Preparatory Charter School,1857.000000,47.2300,NaN,NaN,NaN,NaN,NaN,NaN
25,District,19124,7010,Frankford High School,861.000000,40.3000,21.85,100.000,56.646667,57.101111,59.858889,78.163333
26,District,19124,7120,Samuel Fels High School,1238.000000,38.3700,27.71,100.000,69.825556,68.932222,73.937778,82.950000
27,Alternative,19124,8890,One Bright Ray - Simpson Campus,267.000000,38.2000,NaN,0.000,20.357143,20.561667,26.320000,NaN
28,Alternative,19124,8891,One Bright Ray Simpson - Evening,131.000000,40.4600,NaN,0.000,NaN,NaN,NaN,NaN
29,N/A,19124,N/A,Average,914.500000,35.4950,NaN,60.000,NaN,NaN,NaN,NaN
30,N/A,19124,N/A,Median,914.500000,38.3700,NaN,80.000,NaN,NaN,NaN,NaN

In [21]:
for zips in final_zips:
    temp_df = new_df.loc[new_df['Zip Code'] == zips]
    
    avg_row_index = new_df.index.get_loc(new_df[(new_df['Zip Code'] == zips) & (new_df['SchoolName'] == 'Average')].index[0])
    med_row_index = new_df.index.get_loc(new_df[(new_df['Zip Code'] == zips) & (new_df['SchoolName'] == 'Median')].index[0])
    
    new_df.at[avg_row_index, 'Grad Rate'] = temp_df['Grad Rate'].mean()
    new_df.at[avg_row_index, 'Grad Rate for Economically Disadvantaged Students'] = temp_df['Grad Rate for Economically Disadvantaged Students'].mean()
    new_df.at[avg_row_index, 'Grad Rate for Black/African American Students'] = temp_df['Grad Rate for Black/African American Students'].mean()
    new_df.at[avg_row_index, 'Attendance Rate'] = temp_df['Attendance Rate'].mean()
    
    new_df.at[med_row_index, 'Grad Rate'] = temp_df['Grad Rate'].median()
    new_df.at[med_row_index, 'Grad Rate for Economically Disadvantaged Students'] = temp_df['Grad Rate for Economically Disadvantaged Students'].median()
    new_df.at[med_row_index, 'Grad Rate for Black/African American Students'] = temp_df['Grad Rate for Black/African American Students'].median()
    new_df.at[med_row_index, 'Attendance Rate'] = temp_df['Attendance Rate'].median()
    
display(new_df)

/home/jupyter-user-3/.local/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

,Sector,Zip Code,ulcscode,SchoolName,StudentEnrollment,BlackAfricanAmericanPCT,Matriculation Rate,CEPEconomicallyDisadvantagedRate,Grad Rate,Grad Rate for Economically Disadvantaged Students,Grad Rate for Black/African American Students,Attendance Rate
0,Charter,19132,3441,TECH Freire Charter School,494.000000,93.5200,NaN,NaN,NaN,NaN,NaN,NaN
1,District,19132,4060,Murrell Dobbins Career and Technical High School,774.000000,89.4100,25.95,100.000,86.692222,87.472857,87.490000,81.170000
2,Alternative,19132,8450,YESPhilly,126.000000,91.2700,NaN,100.000,20.732500,24.917500,23.331429,NaN
3,N/A,19132,N/A,Average,464.666667,91.4000,NaN,100.000,53.712361,56.195179,55.410714,81.170000
4,N/A,19132,N/A,Median,479.333333,91.3350,NaN,100.000,53.712361,56.195179,55.410714,81.170000
5,Alternative,19121,2310,Achieve Academy,50.000000,92.0000,NaN,100.000,44.345714,40.760000,48.415000,NaN
6,Alternative,19121,3510,El Centro de Estudiantes (Big Picture),100.000000,52.0000,NaN,1.600,21.747778,22.478889,21.942500,NaN
7,District,19121,4030,High School of Engineering and Science,843.000000,58.9600,78.79,92.430,97.477778,97.155556,98.055556,95.930000
8,District,19121,4140,Strawberry Mansion High School,249.000000,92.3700,0.00,100.000,45.828750,40.313333,43.672000,77.306667
9,District,19121,5180,Vaux High School: A Big Picture,305.000000,89.5100,36.17,1.050,85.250000,NaN,85.650000,83.320000
10,Alternative,19121,8080,Excel Academy North,208.000000,91.8300,NaN,100.000,36.064444,40.905714,40.568571,NaN
11,Alternative,19121,8860,One Bright Ray Mansion,105.000000,87.6200,NaN,100.000,15.252500,15.090000,14.327500,NaN
12,Alternative,19121,8870,One Bright Ray Mansion Evening,79.000000,88.6100,NaN,0.000,40.100000,NaN,38.162500,NaN
13,N/A,19121,N/A,Average,242.375000,81.6125,NaN,61.885,48.258371,42.783915,48.849203,85.518889
14,N/A,19121,N/A,Median,208.000000,88.6100,NaN,92.430,42.222857,40.536667,42.120286,83.320000
15,District,19134,5060,Jules E. Mastbaum Area Vocational Technical Hi...,591.000000,43.1500,20.25,100.000,83.617778,83.396250,86.307778,80.486667
16,N/A,19134,N/A,Average,591.000000,43.1500,NaN,100.000,83.617778,83.396250,86.307778,80.486667
17,N/A,19134,N/A,Median,591.000000,43.1500,NaN,100.000,83.617778,83.396250,86.307778,80.486667
18,Alternative,19133,8190,One Bright Ray - Fairhill Campus,261.000000,41.3800,NaN,0.610,36.971111,33.393333,37.277500,NaN
19,N/A,19133,N/A,Average,261.000000,41.3800,NaN,0.610,36.971111,33.393333,37.277500,NaN
20,N/A,19133,N/A,Median,261.000000,41.3800,NaN,0.610,36.971111,33.393333,37.277500,NaN
21,Alternative,19124,3290,Excel Academy South,207.000000,48.3100,NaN,100.000,37.110000,36.426667,38.794444,NaN
22,Charter,19124,3301,Community Academy of Philadelphia Charter School,1246.000000,9.9500,NaN,NaN,NaN,NaN,NaN,NaN
23,Charter,19124,3332,Mariana Bracetti Academy Charter School,1509.000000,21.1400,NaN,NaN,NaN,NaN,NaN,NaN
24,Charter,19124,3364,First Philadelphia Preparatory Charter School,1857.000000,47.2300,NaN,NaN,NaN,NaN,NaN,NaN
25,District,19124,7010,Frankford High School,861.000000,40.3000,21.85,100.000,56.646667,57.101111,59.858889,78.163333
26,District,19124,7120,Samuel Fels High School,1238.000000,38.3700,27.71,100.000,69.825556,68.932222,73.937778,82.950000
27,Alternative,19124,8890,One Bright Ray - Simpson Campus,267.000000,38.2000,NaN,0.000,20.357143,20.561667,26.320000,NaN
28,Alternative,19124,8891,One Bright Ray Simpson - Evening,131.000000,40.4600,NaN,0.000,NaN,NaN,NaN,NaN
29,N/A,19124,N/A,Average,914.500000,35.4950,NaN,60.000,45.984841,45.755417,49.727778,80.556667
30,N/A,19124,N/A,Median,914.500000,38.3700,NaN,80.000,46.878333,46.763889,49.326667,80.556667